# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:11-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run: scripts/2_build.sh
      - persist_to_workspace:
          root: ~/
          paths:
            - .


  unit_test:
    docker:
      - image: circleci/openjdk:11-jdk
    # parallelism: 4
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run: pwd
      - run: cd ~/repo
      - run: ls -alt ~/repo/
      - run: ~/repo/quotes-service/gradlew test --test '**'
      - run: ~/repo/accounts-service/gradlew test --test '**'
      - run: ~/repo/portfolio-service/gradlew test --test '**'
      - run: ~/repo/web-ui/gradlew test --test '**'
      - run: ~/repo/user-service/gradlew test --test '**'

      # run tests!
      # - run: ./gradlew test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - unit_test:
          requires:
            - build